

<h3 id="button"><%= link_to "Avaliable routes", :controller => "routes", :action => "index" %></h3>
<h3 id="button"><%= link_to "Registered users", :controller => "users", :action => "index" %></h3>
<h3 id="new"><%= link_to "Are you a new user?", :controller => "users", :action => "new" %></h3>
<h3 id="new"><%= link_to "Did you think about a new route?", :controller => "routes", :action => "new" %></h3>
<%= image_tag("paisaje.jpg", :width => "630", :alt => "Image") %>
<div id="footer">Todos los derechos reservados 2011</div>